ion-content {
 background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

h2 {
  color: floralwhite
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: floralwhite;
    text-align: justify;
}
ion-label {
  color: floralwhite
}