<ion-header>
  <ion-navbar>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>The Percent Off Calculator</h2>
  <p>
Calculate the discount and/or sales tax of the product using this simple calculator.
  </p>

<br />
<ion-item>
  <ion-label> Original Price </ion-label>
  <ion-input type="number" [(ngModel)]="originalprice" ></ion-input>
</ion-item>

<ion-item>
  <ion-label> Percent Off </ion-label>
  <ion-input type="number" [(ngModel)]="percentoff" ></ion-input>
</ion-item>

<ion-item>
  <ion-label> Sales Tax </ion-label>
  <ion-input type="number" [(ngModel)]="salestax" ></ion-input>
</ion-item>

<button ion-button color="primary" (click)="compute()">Compute Now</button>

<br /><br />
<ion-item *ngIf="finalprice">
  <h3> Final Price: {{finalprice | currency: '&#8369;'  }} </h3>
</ion-item>

<ion-item *ngIf="savings">
  <h3> Final Price {{savings | currency: '&#8369;' }} </h3>
</ion-item>

</ion-content>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>